.Modal {
  position: fixed;
  z-index: 1300;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($Color-Primary, 0.5);
}

.Modal-Container {
  display: flex;
  border-radius: 15px;
  background: #fff;
  flex-direction: column;
  max-width: 470px;
  padding: 0 30px 20px 30px;
  &-Header {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
  }
}
