.Sidebar {
  width: 97px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #f0f1f3;
  filter: drop-shadow(4px 4px 16px rgba(112, 144, 176, 0.1));
  padding: 20px;
  display: flex;
  flex-direction: column;

  .Logo {
    margin-top: 40px;
    margin-bottom: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Menu,
  .Apps {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .Menu {
    margin-bottom: 60px;
  }

  .Sidebar-Bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
