* {
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-variation-settings: 'slnt' 0;
  font-family: $Font-Primary;
}

::selection {
  background: black;
  color: white;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 16px;
  color: black;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  background-color: $Color-Background;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

ul,
ul > li {
  list-style: none;
}

p,
ul,
ol,
ul > li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.root {
  width: 100%;
  height: 100%;
}
