$Color-Primary: #1e2029;
$Color-Secondary: #2c3e50;
$Color-Tertiary: #607b96;

$Color-White: white;
$Color-LightGray: #f3f7f9;
$Color-LightGray-2: #f0f1f3;

$Color-Green: #1ca78c;
$Color-Green-2: #1abc9c;
$Color-Yellow: #f7d54c;
$Color-Blue: #03a9f1;
$Color-Red: #f85050;

$Color-Background: #f9f9f9;
$Color-Background-2: #edf2f4;

$Color-Border-Blue: #4993b1;

$Font-Primary: 'Manrope', sans-serif;
