.IconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  @include transition-default;
  &:hover {
    @include transition-default;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  &.Size-small {
    width: 32px;
    height: 32px;
  }

  &.Size-medium {
    width: 50px;
    height: 50px;
  }

  &.Size-Large {
  }

  &.Color-transparent {
    background-color: transparent;
  }

  &.Color-gray {
    background-color: rgba($Color-Background-2, 0.4);
    &:hover {
      background-color: rgba($Color-Background-2, 0.8);
    }
  }

  &.Color-black {
    svg {
      path {
        fill: $Color-Secondary;
      }
    }
  }
}
