@import './media-queries';
@import './typography';

@mixin default-before-after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin transition-default {
  transition: all 200ms ease-in-out;
}

@mixin generateZoomLevel($level: 10) {
  @for $i from 1 through $level {
    &.zoom-level-#{$i} {
      font-size: 10px + $i * 2;
      line-height: 150%;
    }
  }
}
